@page "/p"

<h3>Список пациентов</h3>

<a class="btn btn-primary" href="/sign">Создать пациента</a>


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            @if (patients == null)
            {
                <p><em>Загрузка...</em></p>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Фамилия</th>
                            <th>Имя</th>
                            <th>Отчество</th>
                            <th>Серия и номер паспорта</th>
                            <th>Дата рождения</th>
                            <th>Пол</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var patient in patients)
                        {
                            <tr>
                                <td> <a class="btn btn-primary" href="/p/@patient.Id">@patient.Surname</a>  </td>
                                <td>@patient.Name</td>
                                <td>@patient.Patronymic</td>
                                <td>@patient.PassportSerial @patient.PassportNumber</td>
                                <td>@patient.Birthday.ToShortDateString()</td>
                                <td>@patient.Gender</td>

                                <td>
                                    @if (patient.Photo != null)
                                    {
                                        var imageBase64 = Convert.ToBase64String(patient.Photo);
                                        var imageSrc = $"data:image/jpeg;base64,{imageBase64}";
                                        <img src="@imageSrc" alt="Фото пациента" style="width: 100px; height: auto;" />
                                    }
                                    else
                                    {
                                        <h3>Нет изображения</h3>
                                        <img src="/images/f1.png" alt="Фото пациента" style="width: 100px; height: auto;" />
                                    }
                                </td>




                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>



@code {

    private IEnumerable<Patient>? patients;

    protected override async Task OnInitializedAsync()
    {
        HttpClient httpClient = new();
        try
        {
            var response = await httpClient.GetAsync("http://192.168.1.3:7029/api/Patients");
            response.EnsureSuccessStatusCode();
            patients = await response.Content.ReadFromJsonAsync<List<Patient>>();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"{ex.InnerException.Message}");
        }
       

    }
}